body{
  font-family: 'Oxygen';
  font-size: 16px;
  font-weight: 400;
}

/* header*/
header{
  background-color:#054263;
  padding: 16px 0px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#logo{
  margin: auto;
  margin-left: 231px;
}

nav{
  margin: auto;
  margin-right: 110px;
}

#highlight{
  color: #66A2BA;

}


nav a{
  font-weight: bold;
  color:#FFFFFF;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;

}
nav a:hover{
  color: #E2E2E2;
}



.allandabout{
  display: flex;
  color: #054263;
}

#firstpicture{
  margin: auto;
  margin-left: 180px;
  margin-top: 48px;
  padding: inherit;
}

/*FIRSTSECTION*/

.firstsection{
  display: inline-flex;
  flex-wrap: wrap;
}

h1{
  font-style: italic;
  color: #054263;
  font-weight: 700;
  font-size: 48px;
  padding-left: 381px;
padding-top: 100px;
}

#aboutTribe{
  font-size: 16px;
    font-weight: normal;
    font-family: 'Oxygen';
    padding: 50px 250px 30px 250px;
    text-align: justify;
    line-height: 1.5;
    margin: inherit
}
/*
.AboutnBranding{
  display: flex;
}*/
.parentdiv{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.dusriparentdiv{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.brandingp{
      padding: 172px 0px 0px 330px;
      justify-content: center;
      font-style: normal;
      line-height: 1.5;
      font-size: 25px;
      color: #054263;
}
.quotep{
  padding: 150px 214px 0px 35px;
  justify-content: center;
  font-style: italic;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  color: #054263;
}
.theactualmotifs {
  justify-content: center;
  font-size: 48px;
  font-family: 'Oxygen';
  font-weight:400px;
  color:#054263;
  padding: 20px 0px 67px 0px;
  text-align: center;
}


/*
#motifsinsides{
  padding-left: 1699px;
}*/
/*
#motifsinleft{
  padding-right: 1699px;
  padding-bottom: 20px;
}*/


h2{
  justify-content: center;
  font-size: 56px;
  font-family: 'Oxygen';
  font-weight: 100;
  color:#054263;
  padding: 20px 0px 20px 0px;
  text-align: center;
}



h3{
  justify-content: center;
  font-size: 56px;
  font-family:'Oxygen';
  font-style: normal;
  font-weight:300;
  color:#054263;
  padding: 20px 0px 57px 0px;
  text-align: center;
}


/*
.artisanpicture{
  display: inline-flex;
}
*/

.actual_motifs{
  display: block;
}
/*------ARTISANS SECTION-------*/
.aboutRow{
  display: flex;
  justify-content: space-around;

}
.photos {
  width: 80%;
  margin: auto;
  font-family: 'Oxygen';
  text-align: center;
  font-size: 36px;
}

#up{
  height: 100%
}

.photos h1 {
  font-size: 36px;
  font-weight: 400;
  color: #5C3A2F
}

.photos p {
  color: #777;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding: 10px;
}

.photoflex {
  flex-basis: 32%;
  border-radius: 16px;
  margin-bottom: 32px;
  position: relative;
  overflow: hidden;
}

.photoflex img {
  width: 100%;
  border-radius: 16px;
  display: flex;
}

.overlap {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.overlap:hover {
  background: rgba(102, 162, 186, 0.7);
}

.overlap h5 {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.overlap:hover h5 {
  bottom: 49%;
  opacity: 1;
}





footer{
    background-color: #054263;
    padding: 50px 50px 50px 72px;
    font-family: 'Oxygen';
    font-size: 16px;
    font-weight: 100;
    justify-content: inherit;
    text-align: center;
    color: #ffffff;
    line-height: initial;
}


/*GOVERNMENT ICONS*/
