body{
  font-family: 'Oxygen';
  font-size: 16px;
  font-weight: 400;
}

/* header*/
header{
  background-color:#054263;
  padding: 16px 0px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#logo{
  margin: auto;
  margin-left: 184px;
}

nav{
  margin: auto;
  margin-right: 123px;
}

#highlight{
  color: #66A2BA;

}


nav a{
  font-weight: bold;
  color:#FFFFFF;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;

}
.navLinks{
  flex: 1;
  text-align: right;
}
.navLinks ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.navLinks ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background: #fff;
  transition: 0.5s;
}
.navLinks ul li:hover::after{
  width: 100%;
}



.allandabout{
  display: flex;
  color: #054263;
}

#firstpicture{
  margin: auto;
  margin-left: 100px;
  margin-top: 50px;
  padding: inherit;
}

/*FIRSTSECTION*/

.firstsection{
  display: inline-flex;
  flex-wrap: wrap;
}

h1{
  font-style: italic;
  color: #054263;
  font-weight: 600;
    font-size: 38px;
  padding-left: 287px;
padding-top: 100px;
}

p{
  font-size: 14px;
    font-weight: normal;
    font-family: 'Oxygen';
    padding: 1px 160px 30px 150px;
    text-align: justify;
    line-height: 1.5;
    margin: inherit
}


.theactualmotifs {
  justify-content: center;
  font-size: 48px;
  font-family: monospace;
  font-weight:400px;
  color:#054263;
  padding: 20px 0px 20px 0px;
  text-align: center;
}



#motifsinsides{
  padding-left: 1312px;
}
#motifsinleft{
  padding-right: 1312px;
  padding-bottom: 20px;
}


h2{
  justify-content: center;
  font-size: 45px;
  font-family: 'Oxygen';
  font-weight: 400;
  color:#054263;
  padding: 20px 20px 45px 20px;
  text-align: center;
}



h3{
  justify-content: center;
  font-size: 56px;
  font-family: monospace;
  font-weight:400;
  color:#054263;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.actual_motifs{
  display: block;

}


/*------ARTISANS SECTION-----*/


#pannel_motif{
  max-width: 1319px;
  max-height: 606px;
}

.artisansrow{
  margin-top: 5%;
  display: flex;
  max-width: 1519px;
  padding-left: 136px;
  justify-content: center;


}

.photoflex {
    flex-basis: 32%;
    border-radius: 16px;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
}

.photoflex img {
    flex: 1;
    max-width: 100%;
    max-height: 80%;
    border-radius: 16px;
    display: block;
}
/*
.overlap:hover img{
      display: inline;
      color: #fff;
      font-weight: 700;
      width: 100%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      opacity: 100px;
      transition: 0.5s;



}
*/
.photoflex{
       width: 130px;
        height: 195px;
        background: url("Amma_Stick_Blue") no-repeat;
        margin: 50px;
}
.overlap:hover{
  background: url("images/Amma_Stick.png") no-repeat;



}




.overlap {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }

footer{
  background-color: #054263;
  justify-content: flex-end;
  text-align: center;
  padding: 50px 50px;
  color: #FFFFFF;
}
